@model BIMApplicationForProjects.Models.C02_AppLists

@{
    ViewBag.Title = "BIM Application Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>*@

<style>
    /* Make the image fully responsive */
    .carousel-inner img {
        width: 100%;
        height: 100%;
        border:solid;
        border-color:rebeccapurple;
    }
</style>

<h2>Chi tiết các ứng dụng BIM cho dự án <small class="text-primary">BIM application details</small></h2>

<div>
    Tên Ứng dụng:<h3> @Model.Name</h3>
    Mục đích: <h3>@Model.Description</h3>
    <hr />
</div>
<!--
<div class="form-horizontal table table-bordered">
    <div class="form-group form-inline col-lg-12">
        @* MainImage *@
        <div class="bg-danger col-lg-6 form-group-lg">
            @if (string.IsNullOrEmpty(Model.MainImage))
            {
                <img src="~/Assets/AppImages/NoImage.png" alt="Alternate Text" class="mainImg" />
            }
            else
            {
                <img src="~/Assets/AppImages/@Model.MainImage" alt="Alternate Text" class="mainImg" />
            }
        </div>
        <div class="col-lg-6 form-group">
            <div class="bg-info subImg">
                @if (string.IsNullOrEmpty(Model.SubImage1))
                {
                    <img src="~/Assets/AppImages/NoImage.png" alt="Alternate Text" class="subImg" />
                }
                else
                {
                    <img src="~/Assets/AppImages/@Model.SubImage1" alt="Alternate Text" class="subImg" />
                }
            </div>
            <div class="bg-success subImg">
                @if (string.IsNullOrEmpty(Model.SubImage2))
                {
                    <img src="~/Assets/AppImages/NoImage.png" alt="Alternate Text" class="subImg" />
                }
                else
                {
                    <img src="~/Assets/AppImages/@Model.SubImage2" alt="Alternate Text" class="subImg" />
                }
            </div>
            <div class="bg-warning subImg">
                @if (string.IsNullOrEmpty(Model.SubImage3))
                {
                    <img src="~/Assets/AppImages/NoImage.png" alt="Alternate Text" class="subImg" />
                }
                else
                {
                    <img src="~/Assets/AppImages/@Model.SubImage3" alt="Alternate Text" class="subImg" />
                }

            </div>
            <div class="bg-primary subImg">
                @if (string.IsNullOrEmpty(Model.SubImage4))
                {
                    <img src="~/Assets/AppImages/NoImage.png" alt="Alternate Text" class="subImg" />
                }
                else
                {
                    <img src="~/Assets/AppImages/@Model.SubImage4" alt="Alternate Text" class="subImg" />
                }
            </div>
        </div>
    </div>
</div>
-->
@* Carousel *@
<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
        <li data-target="#demo" data-slide-to="3"></li>
        <li data-target="#demo" data-slide-to="4"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/Assets/AppImages/Coordinate_Main.png" alt="Los Angeles">
        </div>
        <div class="carousel-item">
            <img src="~/Assets/AppImages/Coordinate_Sub1.png" alt="Chicago">
        </div>
        <div class="carousel-item">
            <img src="~/Assets/AppImages/Coordinate_Sub2.png" alt="New York">
        </div>
        <div class="carousel-item">
            <img src="~/Assets/AppImages/Coordinate_Sub3.png" alt="New York">
        </div>
        <div class="carousel-item">
            <img src="~/Assets/AppImages/Coordinate_Sub4.png" alt="New York">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>

</div>


@* End Carousel *@
<hr />
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "UserIndex")
</div>
<style>
    .mainImg {
        max-height: 600px;
        width: 400px;
    }

    .subImg {
        max-height: 250px;
        width: 500px;
    }    
</style>