@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-info">BIM Applications for Projects</h1>
    <p class="lead">Apply BIM to Design - Tender - Construction Projects</p>
    <p class="btn btn-primary">@Html.ActionLink("Start >>", "UserIndex", "AppLists", new { area = "" }, new { @style = "color:white" })</p>    
</div>

<div class="row">
    <div class="col-lg-4">
        <h2>Register new project</h2>
        <p>Bắt đầu dễ dàng: Đăng ký dự án áp dụng >> Chọn ứng dụng >> Kết quả</p>
        <p class="text-danger">Easy start: Register new Project >> Choose app >> get result</p>    
        <p class="btn btn-danger">@Html.ActionLink("Register Project >>", "CreateID", "Projects", new { area = "" }, new { @style = "color:white" })</p>
    </div>
    <div class="col-lg-4">
        <h2>Get more valuable</h2>
        <p>Kiểm tra va chạm, Phối hợp các bộ môn, Khối lượng, Phim và nhiều hơn nữa ... </p>
        <p class="text-danger">Clash detect, Descipline Coordinate,  Quantity takeoff, Film ... and more</p>
        <p class="btn btn-warning">@Html.ActionLink("BIM Menu list >>", "UserIndex", "Applists", new { area = "" }, new { @style = "color:white" })</p>                
    </div>
    <div class="col-lg-4">
        <h2>Checking anywhere</h2>
        <p>Dễ dàng tìm kiếm báo cáo dự án, Danh sách va chạm, RFI ... ở bất kỳ đâu </p>
        <p class="text-danger">You can easily find Project Reports, Clash detect, RFI and more ... anywhere</p>
        <p class="btn btn-primary">@Html.ActionLink("App Result >>", "Index", "AppResults", new { area = "" }, new { @style = "color:white" })</p>
    </div>
</div>