
@{
    ViewBag.Title = "AdminMemberList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>AdminMemberList</h2>
<div class="container-fluid">
    <div>
        <table class="table table-bordered table-condensed table-hover">
            <tr>
                <td></td>
            </tr>
        </table>
    </div>
</div>
