@{
    ViewBag.Title = "Confirmation";
}

<hgroup class="title">
    <h1>Quên mật khẩu - Forgot password</h1>
</hgroup>
<div>
    <p>@Session["ThongBao"]</p>
    <div class="form-group">
        @Html.ActionLink("Đăng nhập | Login", "Login", "Account", null, new { @class = "btn btn-primary" })
        @*@Html.ActionLink("Tạo tài khoản | Create Account", "Register", "Account", null, new { @class = "form-control" })*@
    </div>
</div>
	
