@{
    ViewBag.Title = "Confirmation";
}

<hgroup class="title">
    <h1>Quên mật khẩu - Forgot password</h1>
</hgroup>
<div>
    <p>Người dùng chưa xác nhận tài khoản hoặc Tài khoản không tồn tại</p>
    <p>
        User still not active account or Account not exist.       
    </p>
    <div class="form-group">
        @Html.ActionLink("Tạo tài khoản | Create Account", "Register", "Account",null, new {@class = "btn btn-primary" })
    </div>
</div>
	
