@{
    ViewBag.Title = "Reset password confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <h4>
        Mật khẩu của bạn đã được cài đặt lại. Vui lòng @Html.ActionLink("Đăng nhập lại", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </h4>
    <h4>
        Your password has been reset. Please @Html.ActionLink("Re-Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </h4>
</div>
