@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h3 class="text-danger">Locked out.</h3>
    <h4>Vì bạn đã đăng nhập thất bại  hơn 3 lần nên tài khoản của bạn sẽ tạm khóa, vui lòng thử lại sau</h4>
    <h4 class="text-danger">Because you are login failse 3 times, your account has been locked out, please try again later.</h4>
</hgroup>
